html {
  font-family: "Noto Sans";
}

body {
  font-family: "Noto Sans";
}

pre, code, kbd, samp {
  font-family: "Noto Sans";
}

input, button, select, optgroup, textarea {
  font-family: inherit;
}

.tooltip {
  font-family: "Noto Sans";
}

.popover {
  font-family: "Noto Sans";
}

.text-monospace {
  font-family: "Noto Sans";
}

.easy { 
    background-color: #8ADD82;
    padding: 3px 10px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 5px;
    box-shadow: 0px 0px 2px black;
}

.intermediate { 
    background-color: #EE973F;
    padding: 3px 10px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 5px;
    box-shadow: 0px 0px 2px black;
}

.advanced { 
    background-color: #EE5359;
    padding: 3px 10px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 5px;
    box-shadow: 0px 0px 2px black;
}

.gold-plan { 
    background-color: #EFBF04;
    color: white;
    padding: 10px 10px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 5px;
    box-shadow: 0px 0px 2px rgb(158, 158, 158);
}

.other-plan { 
    background-color: #3d3d3d;
    color: white;
    padding: 10px 10px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 5px;
    box-shadow: 0px 0px 2px rgb(158, 158, 158);
}

.con { 
    padding: 80px 50px 0px 350px;
    margin: 0px;
}